commands:
  01_mount:
    command: "/tmp/create-envs.sh"

files:
  "/tmp/create-envs.sh":
      mode: "000755"
      owner: root
      group: root
      content : |
        #!/bin/bash
        RACK_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RACK_ENV)

        echo "$(/opt/elasticbeanstalk/bin/get-config container -k environment_name)"> /etc/envname
        echo "REPLACED_ENV_TYPE"> /etc/envtype
        echo "REPLACED_VERSION_NAME"> /etc/envversion
        echo "REPLACED_APP_NAME"> /etc/appname
